<section class="row row-cols-1 row-cols-md-3 g-4">
  <% if (typeof posts !== 'undefined' && posts.length) { %> <%
  posts.forEach((post, index) => { %>
  <div class="col mb-4 mb-md-4">
    <div class="card h-100 position-relative">
      <%# Conditionally display the edit and delete buttons and make %> 
      <% if (isHyperlink) { %> 
        <% if (showActions) { %>
          <div
            class="position-absolute top-0 end-0 d-flex m-4"
            style="z-index: 10; top: 0; right: 0; gap: 10px"
          >
            <form action="/posts/edit/<%= post.id %>" method="GET" class="inline">
              <button
                type="submit"
                class="bg-black text-blue-500 p-2 border-0 rounded-circle shadow-sm hover:bg-teal-500 hover:text-white transition-colors"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-pencil"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
                  />
                </svg>
              </button>
            </form>

            <form
              action="/posts/delete/<%= post.id %>"
              method="POST"
              class="d-inline"
            >
              <button
                type="submit"
                class="bg-black text-red-500 p-2 border-0 rounded-circle shadow-sm hover:bg-red-600 hover:text-white transition-colors"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                  />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                  />
                </svg>
              </button>
            </form>
          </div>
        <% } %>

      <a href="/posts/<%= post.id %>" class="card-link">
        <img src="<%= post.image || '...' %>" class="card-img-top" alt="..." />
      </a>
      <% } else { %>
      <img src="<%= post.image || '...' %>" class="card-img-top" alt="..." />
      <% } %>

      <div class="card-body">
        <div class="category-badge mb-2">
          <% const categoryName = typeof post.category === 'object' ? post.category.name : post.category; %>
            <% const categoryId = typeof post.category === 'object' ? post.category.id : post.category.toLowerCase().replace(/\s+/g, '-'); %>
            <span class="badge p-2">
              <%= typeof categoryName === 'string' ? 
                  categoryName.replace(/\w\S*/g, txt => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()) : 
                  'Uncategorized' %>
            </span>
        </div>
        <pre><%# JSON.stringify(post, null, 2) %></pre>

        <% if (isHyperlink) { %>
        <a href="/posts/<%= post.id %>" class="card-link">
          <h5 class="card-title"><%= post.title %></h5>
        </a>
        <% } else { %>
        <h5 class="card-title"><%= post.title %></h5>
        <% } %>
        <p class="card-text"><%= post.excerpt %></p>

        <%# conditionally display `Read more`button depending on the page %> <%
        if (!showActions) { %>
        <a href="/posts/<%= post.id %>" class="btn btn-warning-sm">Read more</a>
        <% } %>
      </div>
      <div class="card-footer">
        <small
          class="text-body-secondary d-flex justify-content-between align-items-center"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-calendar4 mr-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"
              />
            </svg>
            <% if (post.updatedAt) { %> Updated: <%= new
            Date(post.updatedAt).toLocaleDateString('en-US', {year: 'numeric',
            month: 'long', day: 'numeric'}) %> <% } else { %> Posted: <%= new
            Date(post.createdAt).toLocaleDateString('en-US', {year: 'numeric',
            month: 'long', day: 'numeric'}) %> <% } %>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-clock mr-1"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
              />
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"
              />
            </svg>
            <%= post.readingTime %> min read
          </div>
        </small>
      </div>
    </div>
  </div>
  <% }); %> <% } else { %>
  <p>No posts yet. Be the first to create one!</p>
  <% } %>
</section>
