<%- include ('partials/header.ejs') %>
<section class="hero">
  <div
    class="container-fluid w-75 mx-auto d-flex justify-content-between align-items-center"
  >
    <div class="hero-text-content w-50">
      <h1><span class="teal"><%= post.title %> </span></h1>
      <p class="tagline"><% post.excerpt %></p>
    </div>
    <div class="w-50 hero-image p-5">
      <img src="<%= post.image || '...' %>" alt="hero tagline" />
    </div>
  </div>
</section>
<section>
  <div class="container-fluid w-75 mx-auto">
    <div class="d-flex justify-content-between align-items-center flex-row">
      <h2><%= post.title %></h2>
      <a href="/posts" class="view-all">View all posts →</a>
    </div>
    <!-- <p><%= post.content %></p> -->
    <!-- <div class="post-content">
      <%#  post.content.replace(/\n/g, '<br>')  %>
    </div> -->
    <div class="post-content">
      <% post.content.split('\n').forEach(paragraph => { %>
        <% if (paragraph.trim()) { %>
          <p><%-  paragraph.replace(/##\s*(.+)/g, '<strong>$1</strong>') %></p> <%# This replaces ## with <strong> making the text bold %>
        <% } %>
      <% }) %>
    </div>
    <div class="d-flex justify-content-between align-items-center flex-row mt-5">
    <p>Posted on: <%= new Date(post.createdAt).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %></p>
    <% if (post.updatedAt) { %>
      <p>Updated on: <%= new Date(post.updatedAt).toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %></p>
    <% } %>
    </div>
    <a href="/posts/edit/<%= post.id %>" class="btn btn-warning" target="_blank"
      >Edit Post</a
    >
  </div>
</section>
<%- include ('partials/footer.ejs') %>
