<%- include ("partials/header.ejs") %>
<section class="hero">
  <div
    class="container-fluid w-75 mx-auto d-flex justify-content-center align-items-center flex-column"
  >
    <h1>The <span class="teal">Blog</span></h1>
    <p class="content">
      Insights, strategies, and inspiration for women balancing career, family,
      and personal growth
    </p>
  </div>
</section>
<section class="container-fluid main-content w-75 max-w-sm">
  <div class="d-flex">
    <!-- Search Bar -->
    <input
      type="text"
      name="search"
      placeholder=" Search posts..."
      class="p-2 searchbar w-50 p-4 border border-dark-sub rounded-5 focus:outline-none focus:ring-2 focus:ring-teal mr-4"
    />
  
    <div class="d-flex flex-wrap gap-2">
      <a 
        class="btn btn-secondary m-2"
        href="/posts"
      >All Posts</a>
      <% categories.forEach((category) => { %>
        <a href="/posts/category/<%= category.id %>"
        class="btn btn-secondary m-2">
          <%= category.name.replace(/\w\S*/g, txt => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase()) %> <%# Capitalize first character %>
        </a>
      <%});%>
      
    </div>
  </div>
  <%- include("partials/blogCard.ejs") %>
</section>
<%- include ("partials/footer.ejs") %>

<script>
  // Optional: Search functionality
  document.getElementById('searchInput').addEventListener('keyup', function(e) {
    if (e.key === 'Enter') {
      window.location.href = `/posts/search?q=${encodeURIComponent(this.value)}`;
    }
  });
</script>